{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bascuñana: reformas y construcciones en Alicante y provincia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Su empresa de reformas en Alicante y provincia. Amplia gama de servicios: reformas integrales o parciales de viviendas, baños, cocinas, locales comerciales, chalets, rehabilitación y nueva construcción.">
        <meta name="author" content="@rubocoptero">
        
        <script type="text/plain" class="cc-onconsent-analytics">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-45591691-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

        <!-- Styles -->
        {% compress css %}

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/stapel.css' %}" rel="stylesheet">
        <link href="{% static 'css/colorbox.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">  
        <link href="{% static 'css/cookie-consent.min.css' %}" rel="stylesheet" type="text/css"/>      

        {% endcompress %}

        <!-- Javascript -->
        <script src="{% static 'js/lib/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
    </head>
    <body data-spy="scroll" data-target=".nav" data-offset="50">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a href="{% url 'home' %}">
                        <img id="logo" src="{% static 'img/logo.png' %}" alt="Bascuñana">
                    </a>
                    <span class=" telefono-cabecera text-center">
                        <i class="icon-mobile-phone icon-large"><span> 618 87 44 67</span></i>
                    </span>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#inicio">Inicio</a></li>
                            <li><a href="#servicios">Servicios</a></li>
                            <li><a href="#empresa">La empresa</a></li>
                            <li><a href="#trabajos">Trabajos</a></li>
                            <li><a href="#contacto">Contacto</a></li>
                        </ul><!-- /.nav -->
                    </div><!--/.nav-collapse -->
                </div><!-- /.container -->
            </div><!-- /.navbar-inner -->
        </nav><!-- /.navbar -->
        
        <div class="container">
            {% block content %}{% endblock content %}
                
            <footer class="row-fluid">
                <hr/>
                <p>Bascuñana: reformas y construcciones &copy 2013</p>
            </footer>
        </div>
        
        <!-- Javascript -->
        {% block extra_js %}{% endblock extra_js %}
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45591691-1', 'reformasbascu.es');
          ga('send', 'pageview');

        </script>
  </body>
</html>
